<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petnet.domain.topic.mapper.TopicMapper">

    <resultMap id="topicSelectMap" type="Topic">
        <id property="topicId" column="TOPIC_ID" /> <!-- 기본 키 매핑 -->
        <result property="authorId" column="AUTHOR_ID" />
        <result property="topicType" column="TOPIC_TYPE"/>
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="likeCount" column="LIKE_COUNT" />
        <result property="dislikeCount" column="DISLIKE_COUNT" />
        <result property="addDate" column="ADD_DATE" />
        <result property="updateDate" column="UPDATE_DATE" />
        <result property="files" column="FILES" javaType="java.lang.String"/>
        <result property="isDownloadable" column="IS_DOWNLOADABLE" />
    </resultMap>

    <!-- SQL : SELECT ONE -->
    <select id="getTopic" parameterType="string" resultMap="topicSelectMap">
        SELECT
            topic_id,
            author_id,
            topic_type,
            title,
            content,
            view_count,
            like_count,
            dislike_count,
            add_date,
            update_date,
            files,
            is_downloadable
        FROM topic
        WHERE topic_id = #{topicId}
    </select>

</mapper>
